In [1]:
!pip install SQL-Tracker

Collecting SQL-Tracker
  Downloading SQL_Tracker-0.1.0-py3-none-any.whl.metadata (918 bytes)
Requirement already satisfied: sqlparse>=0.4.4 in /usr/local/lib/python3.10/dist-packages (from SQL-Tracker) (0.5.1)
Requirement already satisfied: prettytable>=3.6.0 in /usr/local/lib/python3.10/dist-packages (from SQL-Tracker) (3.11.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable>=3.6.0->SQL-Tracker) (0.2.13)
Downloading SQL_Tracker-0.1.0-py3-none-any.whl (3.7 kB)
Installing collected packages: SQL-Tracker
Successfully installed SQL-Tracker-0.1.0

In [2]:
from SQL_Tracker import RealTimeDataLineageTracker, dynamic_query_execution

Enter your SQL queries below (type 'exit' to quit):

SQL Query: Select * from users;

Intercepted Query:
SELECT *
FROM users;
Lineage Updated: users; â†’ users;

Source Table: users;
+--------+
|   *    |
+--------+
| *_val1 |
| *_val2 |
| *_val3 |
+--------+

Target Table: users; (After Transformation)
+--------+
|   *    |
+--------+
| *_val1 |
| *_val2 |
| *_val3 |
+--------+

--- Real-Time Lineage ---
Table: users;
  Type: transformation
  Source: users;
  Query: SELECT *
FROM users;
  Next Transformations: ['users;']

SQL Query: exit
Exiting program...